body{
	font-size: 14px;
	line-height: 1.5em;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
}

h1 .title{
	font-size: 30px;
	line-height: 1.5em;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
}

h2 .title{
	font-size: 24px;
	line-height: 1.5em;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans Narrow", "Arial", sans-serif;	
}